body
{
	font-family: "monospace";
	width: 960px;
	margin: auto;
	border : 1px solid #FFF;
}

header
{
	font-size: large;
	background-color: #5fb555;
	margin: 0px;
}

p
{
	margin: 0px;
}

a:link
{
	text-decoration:none;
}
